.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70vw;
    color: black;
    margin: 2.5% 0;
    position: relative;
}
.right{
    position: absolute;
    right: 4%;
    top: 30px;
}
.left{
    position: absolute;
    left: 0;
    top: 30px;
}
